html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    scroll-behavior: smooth;
}

p {
    padding-top: 45vh;
    margin: 0;

}

#one {
    background-color: rgb(160, 76, 104)
}

#two {
    background-color: rgb(189, 189, 97);
}

#three {
    background-color: rgb(96, 146, 146)
    ;
}

img {
    animation: arrowMoveUp 1s infinite alternate-reverse;
}

@keyframes arrowMoveUp {
0% {
    margin-top: 5vh;
    opacity: 0.1;
}
50% {
    opacity: 0.5; 
 }
 100% {
     margin-top: 0vh;
     opacity: 1;
 }
}
a {
    text-decoration: none;
    color: black;
}